<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Demande de contact</title>
	</head>
	<body>
		<h1>Demande de contact</h1>
		<h3>De la part de {{ contact.nom }}</h3>
		<p>{{ contact.message }}</p>

        <h4>Contacter {{ contact.nom }} par mail :  {{ contact.email }} ou par téléphone au : {{ contact.telephone }}</h4>

	</body>
</html>
