{% extends "base.html.twig" %}

{% block title property.title %}
{% block body %}

	<div class="container mt-5">
		<div class="row">
			<div class="col-md-8">
				<img src="/images/properties/{{property.filename}}" alt="card-img-top" style="width: 100%; height: auto;">
			</div>
			<div class="col-md-4 mt-5">
				<div class="text-center">
					<h1>{{property.title}}</h1>
					<h2>{{property.rooms}} chambres - {{property.surface}} m²
					</h2>
				</div>
				<div class="text-center">
					<div class="text-primary" style="font-size: 2.5rem; font-weight: bold;">{{property.formattedPrice}} € la semaine</div>
					<p>{{property.description | nl2br}}</p>
					<h5>{{ property.postalCode }} - {{ property.city }}</h5>
				</div>
				<div class="mt-4">
					<h5>Pour réserver ce gîte contactez le proriétaire : </h5>
					<h6 class="mt-2 text-center">{{ app.user.nom }} {{ app.user.prenom }}</h6>
					<p> Par téléphone au {{ app.user.telephone }}</p>
					<p> Par mail a <a href="#">{{ app.user.email }}</a>
					
				</div>
			</div>
		</div>
	</div>

	<div class="container mt-4">

		<div class="row">
			<div class="col-md-8">
				<h2>Caractéristiques</h2>
				<table class="table table-striped">
					<tr>
						<td>Surface habitable</td>
						<td>{{property.surface}}
							m²</td>
					</tr>
					<tr>
						<td>Nombre de chambres</td>
						<td>{{property.rooms}}
						</td>
					</tr>
					<tr>
						<td>Nombre de couchages</td>
						<td>{{property.bed}}
						</td>
					</tr>
					<tr>
						<td>Animaux acceptés</td>
						<td>{{property.animal}}
						</td>
					</tr>
				</table>
			</div>
			<div class="col-md-4">
				<h2>Options</h2>
				<ul class="list-group">
					{% for option in property.options %}
						<li class="list-group-item">{{option.name}}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
